*,
*::before,
*::after {
  box-sizing: border-box;
}

$color: red;

.checkbox {
  position: relative;
  padding-left: 30px;
  &__input {
    display: none;
  }

  &__label::after {
    content: "✔";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px gray;
    border-radius: 2px;
    color: white;
    text-align: center;
  }

  &__input:checked ~ &__label::after {
    background-color: $color;
  }
}
.radio {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__input {
    display: none;
  }
  &__label {
    padding-left: 30px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: solid 1px grey;
      border-radius: 50%;
    }
  }

  &__input:checked + &__label::after {
    border: solid 5px $color;
  }
  &__input:checked:disabled + &__label::after {
    border-color: lighten($color: $color, $amount: 20%);
  }
  &:hover &__label::after {
    border-color: $color;
  }
}
