@import "./_hw-06-global.scss";
@import "./_hw-06-reset.scss";
body {
  max-width: 1370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./img/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #fcfcfc;

  &__wrapper {
    width: 360px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  &__close-button {
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #e7e9fc;
    border-radius: 50%;
    border: 1px solid #0000001a;
  }
}

.form {
  &__label {
    display: block;
    margin-bottom: 4px;
  }

  &__title {
    font: 500 16px "Roboto", sans-serif;
    margin: 32px 0 8px;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: #2e2f42;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__link {
    // TODO: css-variable
    color: var(--interactive);
  }
  &__input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: solid 1px #2e2f4266;
    // TODO: move to modifier

    &:focus {
      border: solid 1px $interactive;
    }
    &--comment {
      resize: vertical;
    }
  }
  &__btn-submit {
    display: flex;
    justify-content: space-around;
  }
  &__submit {
    font: 500 16px "Roboto";
    color: #ffffff;
    padding: 16px 65px;
    line-height: 150%;
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    background: $interactive;
  }
}
// TODO: move out of form
.checkbox {
  display: flex;
  align-items: center;
  padding: 8px 0 16px;

  &__text {
    padding-left: 8px;
  }

  &__checkmark {
    appearance: auto;
    margin: auto 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px #2e2f4266;

    &::before {
      width: 16px;
      height: 16px;
      background-image: url(./img/checkbox_icon_149960.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
