@charset "UTF-8";
body {
  font: 400 12px/14px Roboto;
  letter-spacing: 0.04em;
  color: #8e8f99; }

/* Скидання стилів форми */
form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit; }

/* Скидання стилів елементів форми */
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  /* Успадкування шрифтів */
  color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  /* Відключення нативних стилів (особливо в iOS) */ }

/* Скидання стилів для кнопок */
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0; }

body {
  max-width: 1370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./img/people-office.svg); }

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 408px;
  padding: 24px 0;
  margin: 10px auto;
  border-radius: 4px;
  background-color: #fcfcfc; }

.form__label {
  display: block;
  padding: 8px 0 4px; }

.form__title {
  font: 500 16px "Roboto", sans-serif;
  padding: 32px 0 8px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #2e2f42; }

.form__inputs {
  width: 360px; }

.form__link {
  color: #4d5ae5; }

.form__input {
  width: 100%;
  padding: 12px;
  border: solid 1px #2e2f4266;
  border-radius: 4px; }
  .form__input:focus {
    border: solid 1px #4d5ae5; }

.form .checkbox {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0 24px;
  padding-right: 8px; }
  .form .checkbox__checkmark {
    margin: auto 0;
    width: 16px;
    height: 16px;
    border: solid 1px #2e2f4266; }

.form__btn-submit {
  margin: 24px auto;
  width: 169px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #4d5ae5; }

.form__submit {
  font: 500 16px "Roboto";
  padding: 16px 65px;
  color: #ffffff;
  line-height: 150%;
  letter-spacing: 0.64px; }

.ellipse {
  display: flex;
  justify-content: flex-end; }
  .ellipse .btn__close {
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #0000001a;
    background: #e7e9fc;
    border-radius: 50%; }
