@import "./_reset_hw_03";
@import "./_global_hw_03";

.filters {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    margin-bottom: 50px;
  }
}

.portfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card {
  border: 1px solid rgb(238, 238, 238);
  background: rgb(255, 255, 255);
  line-height: 0;

  &__info {
    padding: 20px 24px;
  }

  &__title {
    line-height: 2;
  }

  &__category {
    font: 400 16px / 1.875 "Roboto", sans-serif;
    letter-spacing: 0.48px;
    color: var(--main-text-color);
  }
}
