h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
/* MAIN STYLES */
body {
  font: 500 16px "Roboto", sans-serif;
  letter-spacing: 0.48px;
  line-height: 26px;
}
.container {
  max-width: 1170px;
}
.portfolio {
  padding: 174px auto;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list > li {
  border-radius: 4px;
  margin: 0 8px;
  padding: 6px 25px;
  background: rgb(245, 244, 250);
  color: rgb(33, 33, 33);
}
.portfolio-list {
  display: flex;
  gap: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.portfolio-info {
  margin: 0 auto;
}
