h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

a,
/* TODO: reset for button background-color, border, padding */
button {
  color: inherit;
  text-decoration: none;
  border: none;
  padding: 0;
  background-color: transparent;
}

li {
  list-style: none;
}
/* MAIN STYLES */
:root {
  --portfolio-main-text-color: #212121;
  --portfolio-info-text-color: #757575;
  --portfolio-btn-bg-hover-color: #2196f3;
  --portfolio-btn-bg-color: #f5f4fa;
}
body {
  font: 700 18px "Roboto", sans-serif;
  letter-spacing: 1.08px;
  line-height: 36px;
  /* TODO: move it to css-variable */
  color: var(--portfolio-main-text-color);
}
.container {
  /* TODO: center it */
  max-width: 1170px;
  margin: 0 auto;
}
.btn {
  /* TODO: all these styles except margin should be in button */
  font: 500 16px "Roboto", sans-serif;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(245, 244, 250);
}
.btn:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: white;
  background: var(--portfolio-btn-bg-hover-color);
}
/* TODO: remove me */

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-list {
  /* TODO: replace it by gap */
  gap: 0 16px;
}
/* TODO: add styles for button on hover and header links. Put color in css variable */
.portfolio-list {
  display: flex;
  /* TODO: correct value */
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.portfolio-item img {
  padding-bottom: 30px;
}
.portfolio-info span {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  color: var(--portfolio-main-text-color);
}
