* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  color: #ffa500;
}

body {
  font: 30px "Rubik Wet Paint", system-ui;
  color: aquamarine;
  background-color: black;
}
.container {
  max-width: 1030px;
}
.header {
  margin: 50px;

  &__menu-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    border: solid 1px #ffa500;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border: solid 1px #ffa500;

  &__menu-item {
    font: 100 10px "Rubik Wet Paint", system-ui;
    color: red;
    padding: 20px;
  }
}

.main-content {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  &__item {
    color: aliceblue;
    &_green {
      color: green;
    }
  }
}
