* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.basic-block {
  padding: 30px 15px;
  border: solid 1px wheat;
  max-width: 405px;
}
.basic-block__list-items {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}

.list-items__item {
  width: calc(100% / 4);
  height: 100px;
  border: solid 1px wheat;
}
