@import './general';

.team-member-container {
  display: flex;
  gap: 30px;
}

.team-member {
  width: 270px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--main-color);

  &__info {
    padding: 30px 10px;
  }

  &__avatar {
    max-width: 270px;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 19px;
    color: var(--text-description-color);
  }

  &_shadowed {
    box-shadow: 18px 14px 6px 0px rgba(0, 0, 0, 0.38), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
}

// A block that can be reused in different places of application
.feedback-form {
  &__title {
    margin-bottom: 15px;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: solid 1px grey;
    border-radius: 4px;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    padding: 6px 14px;
    border: 0;
    color: #fff;
    background-color: green;
    border-radius: 4px;
  }
}

.feedback {
  display: flex;
  margin-bottom: 10px;
  padding: 25px;
  border: solid 1px green;
  border-radius: 10px;

  &__avatar {
    max-width: 270px;
    height: auto;
    border-radius: 10px;
  }

  // Applied to .feedback-form
  &__form {
    margin-left: 30px;
  }
}

.article {
  &__text {
    margin-bottom: 25px;
  }

  // Also applied to .feedback-form
  &__feedback {
    max-width: 300px;
    margin: 0 auto;
  }
}

.btn {
  padding: 10px 16px;
  border: 0;
  background-color: blue;
  color: #fff;
  border-radius: 4px;

  &_color-warning {
    background-color: yellow;
  }

  &_color-success {
    background-color: green;
  }

  &_color-error {
    background-color: red;
  }
}

.input {
  border: none;
  background-color: #a0a0a0;

  &_disabled {
    background-color: #d7d7d7;
  }
}
