@font-face {
  font-family: 'Montserrat_Alternates';
  src: url('../tasks/custom-font-import/Montserrat_Alternates/MontserratAlternates-LightItalic.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: dimgrey;
  font-family: 'Montserrat_Alternates', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 160px 15px;
  font-size: 14px;
  box-sizing: border-box;

  /* TODO: move to :root {} */
  --btnColorActive: #1b4823;
  --btnColorHover: #379247;
  /* TODO: remove me */
  --btnLinkFocus: solid 2px #45b759;
  /* TODO: rename to --active-color and rename colors for hover and active */
  --btnLinkColor: #45b759;
}

.btn {
  margin-top: 25px;
  margin-right: 10px;
  text-transform: uppercase;
  color: #fff;
  /* TODO: apply variable */
  background-color: #45b759;
  border-radius: 25px;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--btnColorHover);
}
.btn:focus {
  border: var(--btnLinkFocus);
  /*
  `border` is short form of these CSS properties:
  border-color: #45b759;
  border-style: solid;
  border-width: 2px; */
}
.btn:active {
  background-color: var(--btnColorActive);
}

.btn:disabled {
  background-color: #a0a0a0;
}
.link {
  color: var(--btnLinkColor);
  text-decoration: none;
}

.link:hover {
  color: var(--btnColorHover);
  text-decoration: underline;
}
.link:focus {
  border: var(--btnLinkFocus);
  text-decoration: underline;
}
.link:active {
  /* TODO: apply variable */
  color: #1b4823;
}
.link:visited {
  color: #0d2311;
}
