/* RESET */

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
/* MAIN STYLES */
body {
  font: 400 14px "Roboto", sans-serif;
  letter-spacing: 0.42px;
}
:root {
  --background-hero-footer: #2f303a;
  --main-color: #ffffff;
  --text-description-color: #757575;
  --main-text: #212121;
  --menu-item-bg-hover: #2196f3;
  --footer-contacts-text: #ffffff99;
}
* {
  line-height: 24px;
}

.header {
  display: flex;
  justify-content: center; /* ??? */
  justify-content: space-between;
  font-weight: 500;
  /* TODO: add space-between and gap 20px; */
  height: 80px;
  background: var(--main-color);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TODO: add padding for logo and links */
.logo {
  display: flex;
  padding: 10px;
  margin-right: 83px;
}

.menu {
  display: flex; /* flexbox горизонтального вирівнювання */
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-item:hover,
/* TODO: should highlight individual link */
.contacts:hover {
  color: var(--menu-item-bg-hover);
}

.contacts {
  display: flex;
  align-items: center;
}

/* TODO: use gap for flex-container */
.contacts {
  gap: 50px;
}
.hero {
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
  background-color: var(--background-hero-footer);
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  font: 900 44px "Roboto", sans-serif;
  line-height: 136%;
  letter-spacing: 2.64px; /* 44px * 0.06 = 2.64px */
  text-transform: uppercase;
  /* TODO: add bottom margin here */
  margin: 0 auto;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(33, 150, 243);
  color: #ffffff;
}
.service-sections {
  padding: 94px 0;
}

.service-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.service-list {
  font-weight: 700;
  line-height: 16px;
  color: var(--main-text);
}

.service-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.service-description {
  font-weight: 400;
  letter-spacing: 0.3px;
  color: var(--text-description-color);
}

.projects {
  padding-bottom: 94px;
}
h2 {
  font: 700 36px "Roboto", sans-serif;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 120%;
  letter-spacing: 1.8px;
  text-align: center;
  color: var(--main-text);
}

.project-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.team {
  background: rgb(245, 244, 250);
  padding: 94px 0;
}
.team-section {
  max-height: 648px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-member-info {
  padding: 30px 0px;
}

.team-member {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: var(--main-color);
}

.team-member-avatar {
  max-width: 270px;
}
/* TODO: correct style */
.team h3 {
  padding-bottom: 10px;
}

.team span {
  font-size: 16px;
  line-height: 19px;
  color: var(--text-description-color);
}
.footer {
  background: var(--background-hero-footer);
  padding: 60px 0;
}

/* TODO: link should be display block and have margin instead */
.logo-footer img {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 145px;
}

.footer-address {
  color: var(--main-color);
}

.footer-mail,
.footer-phone {
  color: var(--footer-contacts-text);
}
