body {
  width: 900px;
  border: solid 1px rgb(4, 80, 4);
  background-color: rgb(194, 221, 212);
}
.box {
  display: flex;
}
.item {
  border: solid 1px rgb(67, 144, 67);
  width: 100px;
  height: 100px;
  margin: 40px 0;
  background-color: aquamarine;
}
.grow-1 {
  flex-grow: 2;
}

.grow-2 {
  flex-grow: 1;
}

.grow-3 {
  flex-grow: 2;
}

.grow-4 {
  flex-grow: 3;
}
.box-column.box {
  flex-direction: column;
  width: 100px;
}

.box-between.box {
  justify-content: space-between;
  margin-top: 20px;
}
.box-evenly.box {
  justify-content: space-evenly;
  margin-top: 20px;
}
.box-around.box {
  justify-content: space-around;
}
.box-end.box {
  justify-content: flex-end;
}
.box-start.box {
  justify-content: flex-start;
}
.justify-center.box {
  justify-content: center; /* Центр по горизонталі */
  align-items: center; /* Центр по вертикалі */
}
