.box-grow {
  display: flex;
  width: 900px;
}
.grow-item {
  border: solid 1px rgb(67, 144, 67);
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}
.grow-1 {
  flex-grow: 2;
}

.grow-2 {
  flex-grow: 1;
}

.grow-3 {
  flex-grow: 2;
}

.grow-4 {
  flex-grow: 3;
}
.box-column.box-grow {
  flex-direction: column;
  width: 100px;
}

.box-justify.box-grow {
  justify-content: space-between;
  margin-top: 20px;
}
