body {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 300px;
  height: 300px;
  border: solid 1px blue;
}
.first {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.second .item:nth-child(2n) {
  width: 100%;
}
.second .item:nth-child(2n-1) {
  order: -1;
}
.second {
  flex-wrap: wrap;
  align-content: flex-start;
}
.item {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.third .item:nth-child(2) {
  flex-grow: 1;
}

.third .item:nth-child(3) {
  /* flex-grow: 2; */
}

.fourth {
  align-items: flex-start;
  flex-wrap: wrap;
}

.red {
  flex-grow: 1;
  background-color: red;
}

.yellow {
  align-self: stretch;
  height: initial;
  background-color: yellow;
}

.green {
  background-color: green;
  /* align-self: flex-end; */
  margin-top: auto;
}
.fifth {
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}
